.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-1{
    margin: 10px 0;
}
.my-2{
    margin: 11px 0;
}
.text-center{
    text-align: center;
}
.offers{
    color:rgb(9, 250, 9);
}